{{template "base/head" .}}
<div class="user link-account">
	<div class="ui middle very relaxed page grid">
		<div class="column">
		    <br>
		    <h2>
                <p class="large center">
                    {{.Err_Email}}
                </p>
			<h2>
		</div>
	</div>
</div>
{{template "base/footer" .}}
