{{template "base/head" .}}
<div class="user signin openid">
	{{template "user/auth/signin_navbar" .}}
	<div class="ui container">
			<div class="ui attached segment">
				<div class="oauth2 center">
                {{range $key := .OrderedOAuth2Names}}
                    {{$provider := index $.OAuth2Providers $key}}
					<div>
                        {{if eq $provider.Name "itsyou.online"}}
                            <a class="iyo-button" href="{{AppSubUrl}}/user/oauth2/{{$key}}">Login with ITSYOU.ONLINE</a>
                        {{else}}
                            <p>{{.i18n.Tr "sign_in_with"}}</p>
                            <a href="{{AppSubUrl}}/user/oauth2/{{$key}}">
                                <img alt="{{$provider.DisplayName}}{{if eq $provider.Name "openidConnect"}} ({{$key}}){{end}}" 
                                    title="{{$provider.DisplayName}}{{if eq $provider.Name "openidConnect"}} ({{$key}}){{end}}" 
                                    class="{{$provider.Name}}" 
                                    src="{{AppSubUrl}}{{$provider.Image}}">
                            </a>
                        {{end}}
					</div>
                {{end}}
				</div>
			</div>
	</div>
</div>
{{template "base/footer" .}}
