<div class="ui secondary pointing tabular top attached borderless menu stackable new-menu navbar">
	<a class="{{if .PageIsLoginOauth}}active{{end}} item" href="{{AppSubUrl}}/user/login/oauth">
		OAUTH
	</a>
</div>
