{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="hero">
				<h1 class="ui icon header title">
					Green IT Globe
				</h1>
			</div>
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/gig-lg.png" />
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
